#school_image {
    max-width: 50%,
}

#school_id, #drivers_license  {
    max-width: 50%;
    max-height: 50%;
}

#reject_div:hover {
    background-color: oldlace;
}
#check_div:hover {
    background-color: oldlace;
}

#loggedNavbar
{
	background-color: #f2f2f2;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px;
}