body
{
	padding: 0px;
	margin: 0px;
}

#flexContainer
{
	width: 100%;
	height: calc(100% - 66px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#innerContainer
{
	min-width: 450px;
	height: auto;
	max-height: 490px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #fafafa;
	padding: 15px;
	overflow: auto;
}

.miniTitle
{
	font-family: 'Montserrat', sans-serif;
	font-weight: none;
    color: #578edb;
	font-size: 1.25rem;
	width: 100%;
}

.semititle
{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    color: #578edb;
	font-size: 2rem;
	width: 100%;

}

#dif
{
	display: none;
	flex-direction: column;
}

#formSub
{
	width: 80px;
	height: 40px;
	margin-top: 10px;
}

#errorMessage
{
	font-size: 1.5rem;
}

.form
{
	width: 100%;
	height: 40px;
}

.organize
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	margin-right: 20px;
}

#bio
{
	height: 60px;
	margin-top: 10px;
	max-width: calc(100% - 20px);
}